In [5]:
import pandas as p

In [6]:
pwd

'C:\\Users\\iamda\\Documents\\GitHub\\project-group02_project\\analysis\\Andrew'

In [10]:
variable= p.read_csv("allBirthData.csv")
variable.head()

   Unnamed: 0  State  Month  Year  countyBirths  stateBirths  County
0           1      1      1  1985          36.0         5027  1001.0
1           2      1      2  1985          36.0         4627  1001.0
2           3      1      3  1985          43.0         4738  1001.0
3           4      1      4  1985          40.0         4626  1001.0
4           5      1      5  1985          34.0         4834  1001.0